services:
  web-test:
    build: .
    command: >
      sh -c "redis-server --daemonize yes && 
              poetry run python manage.py migrate && 
              poetry run uvicorn myapp.asgi:application --host 0.0.0.0 --port 8000 --workers 2 --proxy-headers"
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/ubuntu/logs:/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-test.entrypoints=http"
      - "traefik.http.routers.web-test.rule=Host(`backendtest.scicommons.org`)"
      - "traefik.http.middlewares.web-test-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.web-test.middlewares=web-test-https-redirect"
      - "traefik.http.routers.web-test-secure.entrypoints=https"
      - "traefik.http.routers.web-test-secure.rule=Host(`backendtest.scicommons.org`)"
      - "traefik.http.routers.web-test-secure.tls=true"
      - "traefik.http.routers.web-test-secure.service=web-test"
      - "traefik.http.services.web-test.loadbalancer.server.port=8000"
      - "traefik.docker.network=proxy"
    depends_on:
      - redis-test
      - celery-test
    env_file:
      - .env.test

  redis-test:
    image: redis:alpine
    ports:
      - "6300:6379"
    networks:
      - proxy

  celery-test:
    build: .
    command: celery -A myapp worker --loglevel=info --concurrency=5
    depends_on:
      - redis-test
    networks:
      - proxy
    env_file:
      - .env.test
    volumes:
      - /home/ubuntu/logs:/logs

  tornado-test:
    build:
      context: .
      dockerfile: Dockerfile.tornado
    command: python tornado_server.py
    ports:
      - "8888:8888"
    depends_on:
      - redis-test
    networks:
      - proxy
    env_file:
      - .env.test
    volumes:
      - /home/ubuntu/logs:/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tornado-test.entrypoints=http"
      - "traefik.http.routers.tornado-test.rule=Host(`backendtest.scicommons.org`) && PathPrefix(`/realtime`)"
      - "traefik.http.middlewares.tornado-test-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.tornado-test.middlewares=tornado-test-https-redirect"
      - "traefik.http.routers.tornado-test-secure.entrypoints=https"
      - "traefik.http.routers.tornado-test-secure.rule=Host(`backendtest.scicommons.org`) && PathPrefix(`/realtime`)"
      - "traefik.http.routers.tornado-test-secure.tls=true"
      - "traefik.http.routers.tornado-test-secure.service=tornado-test"
      - "traefik.http.services.tornado-test.loadbalancer.server.port=8888"
      - "traefik.docker.network=proxy"

networks:
  proxy:
    external: true
    name: proxy-shared
